<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>C. Jason Liang</title>
        <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
        <link href="/favicon.ico" rel="shortcut icon">
        <link href="/css/mystyle.css" rel="stylesheet" type="text/css">
<!--        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script> -->
    </head>
    <body>
        <div id="myname">
            <a href="/index.html">C. Jason Liang</a>
        </div>
        <div id="menu">
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li> | </li>
                <li><a href="/research.html">Research</a></li>
                <li> | </li>
                <li><a class="currentpage" href="/cv.html">CV</a></li>
                <li> | </li>
                <li><a href="/about.html">About</a></li>
                <li> | </li>
                <li><a href="/interactive.html">Interactive Survival Data</a></li>
            </ul>
        </div>
        <script type="text/javascript">
            function unhide(divID) {
                var item = document.getElementById(divID);
                if (item) {
                    item.className=(item.className=='hidden')?'bulktxt':'hidden';
                }
            }
        </script>
        <p class="bulktxt"><a href="/assets/cjlcv.pdf">PDF</a> (created using the <a href="https://launchpad.net/moderncv">moderncv LaTeX template</a>)</p>
        <p class="bulktxt"><a href="javascript:unhide('mdcv');">Markdown (coming soon)</a></p>
        <div id="mdcv" class="hidden">
            {{ content }}
        </div>
    </body>
</html>